<!--START:Popular apps-->
<h1 class="popular-apps custom-header">Most Popular</h1>
<div class="pure-g popular-apps">
    <div class="pure-u-1-5" ng-repeat="application in theMostPopularApplications">
        <div class="l-box">
            <h3 class="custom-header">{{application.applicationName}}</h3>
            <br>
            <a href="#/description" ng-click="setApplicationInstance(application)">
                <img ng-src="/images/small/{{application.applicationName}}"/>
            </a>
        </div>
    </div>
</div>
<br/>
<!--END:Popular apps-->

<h1 class="popular-apps custom-header">Categories</h1>
<div class="pure-g">
    <div class="pure-u-1-5">
        <div class="pure-menu menu-width-restricted">
            <ul class="pure-menu-list">
                <li class="fixed-height" ng-repeat="category in applicationCategories">
                    <a href="" ng-click="getAppsForCategory(category.categoryName)" class="pure-menu-link">{{category.categoryName}}</a>
                </li>
                <br/>

                <li class="fixed-height">
                    <a href="/logout" class="pure-menu-link">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="pure-u-1-5">
        <h3 class="custom-header">List of apps in category: {{selectedCategory}}</h3>
        <div ng-repeat="application in applicationsPerCategory">
            <table>
                <tr>
                    <td>
                        <img ng-src="/images/small/{{application.applicationName}}"/>
                    </td>
                    <td class="application-name-description">
                        <ul class="list-for-application">
                            <li class="custom-header">{{application.applicationName}}</li>
                            <li><a href="#/description" ng-click="setApplicationInstance(application)">Full description </a></li>
                        </ul>
                    </td>
                </tr>
            </table>
            <br/>
            <hr/>
            <br/>
        </div>
    </div>
</div>
